# @package _global_
model:
  num_bits: 64

dataset:
  id: mnist
  name: MNISTDataset
  in_memory: true
  sampler: 
    name: DefaultSampler

  height: 28
  width: 28
  channels: 1
  scaler_mode: data # binary data (do nothing)
  num_classes: 10
  include_labels: False

  dist_name: Bernoulli
  shape:
    - ${dataset.height}
    - ${dataset.width}
    - ${dataset.channels}
  param_shape: ${dataset.shape}

job:
  checkpoint_overrides: []
  start_checkpoint_idx: -1
  total_nsteps: 250000
  print_frequency_nsteps: 5000
  wandb_inexpensive_frequency_nsteps: 5000
  wandb_expensive_frequency_nsteps: 5000
  validation_frequency_nsteps: 5000
  checkpoint_frequency_nsteps: 50000

train:
  seed: 0
  batch_size: 256
  num_workers: 1

test:
  batch_size: 50 # should be divisible by 10,000
  num_workers: ${train.num_workers}
